name: Pagina Surge.sh

on:
  push:
    branches:
      - main  # Esta es la rama que debe hacer el push

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Instalar Surge
        run: npm install --global surge
        
          surge login --token ${{ secrets.SURGE_API_KEY }}

          surge --project ./ --domain  http://luisantonio.surge.sh/
